html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-between; */
  justify-content: flex-end;
  height: 100%;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
  display: block;
  color: white;
}

.content {
  z-index: 100;
  display: block;
  align-items: center;
  color: rgb(0, 0, 0);
}

#sketch-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -99;
}
